  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Web tools</a>
        <div class="nav-collapse">
          <ul class="nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="#/json-parser">JSON parser</a></li>
            <li><a href="#/next-project">Next project</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!-- /navbat -->

  <div class="container-fluid">
    <div class="row-fluid" ng-view>

    </div>
    
    <hr>
    <footer>
      <p>&copy; Adrien Estran 2012</p>
      <p>Angular seed app: v<span app-version></span></p>
    </footer>
  </div> <!-- /container -->